<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/img/moki1.png" type="image/x-icon">
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@400,700,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Moki</title>
</head>
<body>
    <header>
        <div class="container">
            <nav class="nav-header">
                <section class="nav-logo"><img src="./assets/img/moki1.png" alt="Moki"></section>
                <div class="nav-menu">
                    <a href="/login" class="btn-menu">Se connecter</a>

                    <div class="toggle-menu">
                        <section class="toogle"></section>
                        <section class="toogle"></section>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="section-container">
                <section class="small-text">La meilleure plateforme de discussion en groupe sur Moki</section>
                
                <section class="big-text">Chattez avec Style</section>
            </div>

            <div class="section-container">
                <div class="chat-img">
                    <section class="section-img">
                        <img src="./assets/img/moki2.png">
                    </section>
                </div>

                <section class="main-description">
        
                    <div class="descp-grid">
                        <div class="descp-grid-left">
                            
                            <div class="descp-text-animation text-animation-active">
                                <div class="stagger-text">
                                    <section class="text-animated semi-bold"><span class="img-stagger"><img src="./assets/img/star-of-bethlehem-100.png" alt="" srcset=""></span> <strong>Conversations Vivantes :</strong></section>
                                    <section class="text-animated">Explorez des discussions animées avec des groupes partageant vos passions et centres d'intérêt.</section>
                                </div>
                            </div>
                            
                            <div class="descp-text-animation">
                                <div class="stagger-text">
                                    <section class="text-animated semi-bold"><span class="img-stagger"><img src="./assets/img/chat-bubble-100.png" alt="" srcset=""></span> <strong>Interface Conviviale : </strong></section>
                                    <section class="text-animated">Profitez d'une interface utilisateur intuitive qui rend la navigation et la participation aux conversations aussi simples que possible.</section>
                                </div>
                            </div>
                            
                            <div class="descp-text-animation">
                                <div class="stagger-text">
                                    <section class="text-animated semi-bold"><span class="img-stagger"><img src="./assets/img/paint-100.png" alt="" srcset=""></span> <strong>Personnalisation Avancée :</strong> </section>
                                    <section class="text-animated">Exprimez-vous avec style grâce à des fonctionnalités de personnalisation avancées pour votre profil et vos discussions.</section>
                                </div>
                            </div>
                        </div>
                    </div>
                    
        
                    <section class="cta">
                        <a href="/signup" class="button-primary">Rejoignez Moki maintenant</a>
                    </section>
                </section>
            </div>
            
        </div>
    </main>
    
</body>
<script src="./assets/js/script.js"></script>
</html>